.profile-gallery-image-container {
  width: 100%;
  margin-bottom: 1%;
}

.profile-gallery-image-feedback {
  background: #e2e2e1;
}

.profile-gallery-image-feedback * {
  color: #216a8f;
  padding: 10px 15px;
  cursor: pointer;
}

img {
  max-width: 100%;
}
