.profile-gallery-image-container {
  width: 100%;
  margin-bottom: 5%;
}

.profile-gallery-image-body {
  background-image: url("../../../../../assets/images/city.jpg");
  background-size: cover;
  background-position: center;
  max-height: 250px;
  min-height: 250px;
}

.profile-gallery-image-feedback * {
  color: #540000;
  padding: 10px 15px;
}

