<div class="message">
  <div>
    <div class="message-avatar"></div>
  </div>
  <div>
    <div class="message-header">
      <p>Jared Dines</p>
      <span>2018/05/28 16:24</span>
    </div>
    <div class="message-body">
      <p>Hi Elaine! I have a question, do you think that tomorrow we could talk to the client to
        iron
        out some details before the presentation? I already finished the first screen but I need
        to
        ask him something before moving on. Anyway, here’s a preview!</p>
    </div>
  </div>
</div>
