body {
  background: #edf2f6;
}

.header-wrapper {
  /*position: fixed;*/
  height: 60px;
  width: 100%;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  background: #3f4257;
  color: #ffffff;
  padding-left: 8%;
  padding-right: 8%;
}

.header-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-content * {
  padding: 0 0;
  margin: 0 0;
}

.header-content > form {
  display: flex;
  align-self: stretch;
  flex-basis: 65%;
  align-items: center;
  color: #9a9fbf;
  background: rgb(73, 76, 98);
}

.header-content input {
  border: none;
  padding-left: 15px;
  font-size: 20px;
  background: transparent;
  align-self: stretch;
  flex-basis: 95%;
  color: #9a9fbf;
}

.page-title {
  flex-basis: 20%;
  font-weight: bold;
}

.logout-btn {
  justify-self: flex-end;
  cursor: pointer;
}
