<div class="header-wrapper">
  <div class="header">
    <div class="header-content">
      <p class="page-title" (click)="toPrincipal()">MEDEIVAL WORK</p>
      <form (ngSubmit)="findFriends(searchFriendForm)" #searchFriendForm="ngForm">
        <input
          type="text"
          placeholder="Search here people..."
          name="searchInput"
          ngModel
        >
        <i class="fas fa-search"></i>
      </form>
      <p class="logout-btn" (click)="logout()">
        Logout
        <i class="fas fa-sign-out-alt"></i>
      </p>
    </div>
  </div>
</div>
