<div class="profile-chats profile-tile">
  <div class="chats">
    <app-room *ngFor="let chat of chats" [chat]="chat" (click)="openChat(chat)"></app-room>
  </div>
  <div class="messages">
    <div class="open-chat-header">
      <span>{{openedChat.name}}</span>
    </div>
    <div class="open-chat-messages">
      <app-message *ngFor="let message of messagesToShow" [message]="message"></app-message>
    </div>
    <form (ngSubmit)="sendMessage(messageForm)" #messageForm="ngForm" class="open-chat-input">
      <input
        type="text"
        placeholder="Write here your message..."
        name="message"
        ngModel
      >
    </form>
  </div>
</div>
