<div class="profile-chats profile-tile">
  <div class="chats">
    <app-room></app-room>
    <app-room></app-room>
    <app-room></app-room>
  </div>
  <div class="messages">
    <div class="open-chat-header">
      <span>Jared Dines</span>
    </div>
    <div class="open-chat-messages">
      <app-message></app-message>
      <app-message></app-message>
      <app-message></app-message>
    </div>
    <div class="open-chat-input">
      <input type="text" placeholder="Write here your message...">
    </div>
  </div>
</div>
