<div class="friend-wrapper profile-tile">
  <div class="friend-thumb"></div>
  <div class="friend-info-container">
    <div class="friend-avatar"></div>
    <div class="friend-name">Lucifer</div>
  </div>
  <div class="friend-links">
    <div class="friend-link">
      <p>45</p>
      <span>Friends</span>
    </div>
    <div class="friend-link">
      <p>77</p>
      <span>Images</span>
    </div>
    <div class="friend-link">
      <p>78</p>
      <span>Books</span>
    </div>
  </div>
  <div class="additional-friend-events">
    <i class="far fa-envelope"></i>
  </div>
</div>
