<div class="friend-wrapper profile-tile">
  <div class="friend-thumb" [ngStyle]="{backgroundImage : 'url('+current?.thumbObj?.path+')'}"></div>
  <div class="friend-info-container">
    <div class="friend-avatar" [ngStyle]="{backgroundImage : 'url('+current?.avatarObj?.path+')'}"></div>
    <div class="friend-name" [routerLink]="'/profile/'+current._id+'/friends'">{{current.surname}} {{current.name}}</div>
  </div>
  <div class="friend-links">
    <div class="friend-link">
      <p>{{current.friendsCount}}</p>
      <span>Friends</span>
    </div>
    <div class="friend-link">
      <p>{{current.imagesCount}}</p>
      <span>Images</span>
    </div>
    <div class="friend-link">
      <p>{{current.booksCount}}</p>
      <span>Books</span>
    </div>
  </div>
  <div class="additional-friend-events">
    <i class="far fa-envelope"></i>
    <i *ngIf="!current.isFriend" (click)="addFriend(current._id)" class="fas fa-user-plus"></i>
    <i *ngIf="current.isFriend" (click)="removeFriend(current._id)" class="fas fa-user-times"></i>
  </div>
</div>
