<div class="profile-feed-wrapper">
  <div class="profile-tile wall-form-wrapper">
    <form (ngSubmit)="createPost(postForm)" #postForm="ngForm">
      <input
        type="text"
        placeholder="Text"
        name="text"
        ngModel
      >
      <input
        type="text"
        placeholder="Image"
        name="images"
        ngModel
      >
      <input
        type="text"
        placeholder="Book"
        name="books"
        ngModel
      >
      <button type="submit"><p><i class="far fa-plus-square"></i></p></button>
    </form>
  </div>
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
</div>
