.book {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 200px;
  justify-content: space-between;
  margin: 15px 0;
  border: 1px solid #9a9fbf !important;
  color: #4c5489;
}

h5{
  width: 100%;
  padding: 5px;
  color: #9a9fbf;
  cursor: pointer;
}

.profile-library-image-feedback {
  width: 100%;
  background:#e2e2e1;
}

.profile-library-image-feedback * {
  color: #216a8f;
  padding: 10px 15px;
  cursor: pointer;
}
