<div class="profile-feed profile-tile">
  <div class="feed-head">
    <div class="author-feed-avatar" [ngStyle]="{backgroundImage : 'url('+author?.avatar+')'}"></div>
    <div class="author-feed-info">
      <p>{{author?.name}} {{author.surname}}</p>
      <p>{{post.createdAt | date}}</p>
    </div>
  </div>
  <div class="feed-body">
    {{post.text}}
  </div>
  <div class="feed-images">
    <img *ngFor="let image of post.images" [src]="apiUrl + image.path" alt="">
  </div>
  <div>
    <p *ngFor="let book of post.books">{{book.name}}</p>
  </div>
  <!--<div class="feed-footer">-->
  <!--</div>-->
</div>
